<div class="login-layout">
  <div class="login-imagen"></div>
  <div class="contenedor-principal">
    <div class="tarjeta">
      <div class="logo-tienda-row">
        <img src="Logo.jpg" alt="Logo Tienda" class="logo-tienda-grande" />
        <div>
          <div class="nombre-tienda-grande">VIBRAS</div>
        </div>
      </div>
      <div class="titulo-principal-chico">Inicio de Sesión</div>
      <div class="subtitulo">Bienvenido, ingresa tus datos</div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="contenedor-formulario">
        <div *ngIf="alertaMensaje" class="alerta" [ngStyle]="{'display':'block', 'background-color': alertaTipo === 'exito' ? '#d4edda' : alertaTipo === 'error' ? '#f8d7da' : alertaTipo === 'advertencia' ? '#fff3cd' : '', 'color': alertaTipo === 'exito' ? '#155724' : alertaTipo === 'error' ? '#721c24' : alertaTipo === 'advertencia' ? '#856404' : '', 'border-color': alertaTipo === 'exito' ? '#c3e6cb' : alertaTipo === 'error' ? '#f5c6cb' : alertaTipo === 'advertencia' ? '#ffeeba' : '' }">
          {{ alertaMensaje }}
        </div>
        <div class="grupo-input">
          <span class="icono-input"><mat-icon>email</mat-icon></span>
          <input class="campo-texto" type="email" formControlName="email" placeholder="Correo electrónico" required>
        </div>
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <div class="alerta" style="display:block" *ngIf="loginForm.get('email')?.hasError('required')">
            El correo es obligatorio
          </div>
          <div class="alerta" style="display:block" *ngIf="loginForm.get('email')?.hasError('email')">
            Ingrese un correo válido
          </div>
        </div>
        <div *ngIf="errorCorreo">
          <div class="alerta" style="display:block">{{ errorCorreo }}</div>
        </div>
        <div class="grupo-input">
          <span class="icono-input"><mat-icon>lock</mat-icon></span>
          <input class="campo-texto" [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Contraseña" required>
          <button mat-icon-button type="button" (click)="hidePassword = !hidePassword" style="margin-left:-40px;background:transparent;border:none;outline:none;box-shadow:none;">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <div class="alerta" style="display:block" *ngIf="loginForm.get('password')?.hasError('required')">
            La contraseña es obligatoria
          </div>
          <div class="alerta" style="display:block" *ngIf="loginForm.get('password')?.hasError('minlength')">
            Mínimo 10 caracteres
          </div>
          <div class="alerta" style="display:block" *ngIf="loginForm.get('password')?.hasError('pattern')">
            Debe contener 1 mayúscula, 1 número y minúsculas
          </div>
        </div>
        <div *ngIf="errorPassword">
          <div class="alerta" style="display:block">{{ errorPassword }}</div>
        </div>
        <div class="contenedor-boton">
          <button class="boton-principal" type="submit" [disabled]="!loginForm.get('email')?.valid">
            <mat-icon>login</mat-icon> Ingresar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
